.btn-get-quote {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
i{
    background-color: transparent;
}
.main-container {
    background-image: url('https://img.baba-blog.com/2023/06/three-people-discussing-construction-plan-on-project-site.jpeg?x-oss-process=style%2Ffull');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: calc(72vh - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}